
@-webikt-keyframes pulse {
  from { opacity: 0; }
  to { opacity: 0.5; }
}

::-webkit-scrollbar {
    min-width: 12px;
    width: 12px;
    max-width: 12px;
    min-height: 12px;
    height: 12px;
    max-height: 12px;
    background: #252C33;
    box-shadow: inset 0px 50px 0px rgba(27,35,42,0.9), inset 0px -50px 0px #eee;
}

::-webkit-scrollbar-thumb {
    background: rgba(255,255,255,0.2);
    border: none;
    border-radius: 100px;
    border: solid 3px #252C33;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(255,255,255,0.1);
}

::-webkit-scrollbar-thumb:active {
    background: rgba(255,255,255,0.1);
}

::-webkit-scrollbar-button {
    display: block;
    height: 26px;
}
