<!doctype html>
<html lang="en">
<head>
    <title>yarin</title>
    <meta http-equiv="refresh" content="30">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='messages.css') }}" />
        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='forChat.css') }}" />
        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='allWebKit.css') }}" />
        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='type.css') }}" />
        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='menu.css') }}" />
        <script src="{{ url_for('static', filename='time.js') }}"></script>
</head>
<body onload="startAll()">
<div class="menu" >
<div class="name" >chat app</div>
	<div class="members">by yarin</div>
        </div>

{%- if messeges %}
    <ol class="chat">
    {%- for message in messeges %}
        {%- if message.sender == '1' %}
            <li class="other">
        {%- else %}
            <li class="self">
         {%- endif %}
         <div class="msg">
         <p>{{message.message}}</p>
         <time>{{message.time}}</time>
</div>
        </li>
        {%- endfor %}
        {%- endif %}
    </ol>
<div class="typezone">
<form method="Post">><textarea type="text" name="msg" placeholder="Say something"></textarea>
    <input type="hidden" name="time" id="txt" value="">
    <input type="submit" class="send" value=" "/></form>
<div class="emojis"></div></div>
</body>
</html>